.card {
    margin: 20px;
}

.sukses{
    background: rgba(5, 255, 93, 0.1);
    border-radius: 4px 4px 0 0;
}

.danger {
    background: rgba(255, 5, 5, 0.1);
    border-radius: 4px 4px 0 0;
}

.pencegahanlist {
    display: flex;
    align-items: center;
}